// _________________________________________Variables______________________________________
$primary-color: #026764;
$light-blue: #04cbc5;
// _________________________________________SASS___________________________________________

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 0 5% 0 7%;
  transition: 0.5s;
  z-index: 1000;

  @media (max-width: 576px) {
    padding: 0 5% 0 14%;
  }

  &__image-container {
    img {
      height: 50px;
    }
  }

  &__buttons {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;

    .responsive-none {
      @media (max-width: 576px) {
        display: none;
      }
    }

    & > div {
      margin: 0 10px;

      &.hover-black {
        color: black;
        transition: all 0.2s ease-in;
        padding: 8px;
        cursor: pointer;

        &:hover {
          border-radius: 30px;
          background-color: black;
          color: white;
        }
      }

      &:last-of-type {
        margin-right: 0;

        svg {
          transform: scale(1.3);
        }
      }
    }
  }
}

.body-container {
  position: relative;
  margin-top: 80px;

  &__hero {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 480px;
    background-color: rgb(255, 210, 0);
    z-index: -1 !important;

    @media (max-width: 576px) {
      height: 380px;
    }

    &__image-container {
      position: relative;
      height: 100%;
      text-align: center;

      img {
        margin-top: 150px;
        width: 700px;
        object-fit: contain;

        @media (max-width: 576px) {
          margin-top: 200px;
          width: 400px;
        }
      }

      &__header {
        position: absolute;
        top: 6%;
        left: 4%;
        text-align: left;

        
        @media (max-width: 576px) {
          top: 7%;
        }

        span {
          padding: 4px 0;
          display: block;
          font-weight: 700;

          &:first-of-type {
            font-size: 30px;

            @media (max-width: 576px) {
              font-size: 20px;
            }
          }
          &:last-of-type {
            font-size: 18px;

            @media (max-width: 576px) {
              font-size: 16px;
            }
          }
        }
      }

      &__button {
        position: absolute;
        bottom: 6%;
        left: 4%;

        
        @media (max-width: 576px) {
          top: 28%;
        }

        button {
          font-size: 18px;
          border-radius: 30px;
          background-color: black;
          padding: 16px;
          border: none;
          color: white;
          font-weight: 600;

          span {
            &:last-of-type {
              border-radius: 8px;
              background-color: $primary-color;
              padding: 5px 2px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }

  &__content {
    width: 100%;
    margin-top: 560px;
    z-index: 10;
    background-color: white;

    @media (max-width: 576px) {
      margin-top: 460px;
    }

    &__search-box {
      position: sticky;
      top: 80px;
      width: 100%;
      padding: 15px 4%;
      box-shadow: 1px 0 10px -5px #a5a5a5;
      text-align: left;
      align-items: center;
      z-index: 1000;
      background-color: white;

      @media (max-width: 576px) {
        top: 79px;

        & > div {
          justify-content: center;
        }
      }

      &__text-container {
        justify-content: center;
        flex-direction: column;

        span {
          display: block;

          &:first-of-type {
            color: #f79f1f;
          }
          &:last-of-type {
            color: #a5a5a5;
            white-space: nowrap;
          }
        }
      }

      &__button-container {
        button {
          color: rgb(245, 245, 245);
          background-color: black;
          border: none;
          border-radius: 30px;
          font-size: 12px;
          padding: 10px 10px;
        }
      }

      &__type-select {
        .seperator {
          color: #a5a5a5;
          margin: 0 6px;
        }

        @media (max-width: 576px) {
          display: none;
        }
      }
    }

    &__menu {
      padding: 0 4%;

      &__carousel-container {
        position: relative;
        margin-top: 30px;
        width: 100%;
        overflow: hidden;

        .title {
          font-size: 20px;
          font-weight: 700;
        }

        &__carousel {
          position: relative;
          overflow: auto;
          flex-flow: nowrap;
          padding-right: 20px;
          transition: 0.5s;
        }

        & .carousel-arrow {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: #02645f;
          transform: scale(0);

          &.right {
            right: 15px;
          }

          &.left {
            left: 15px;
          }

          &.start {
            animation: 0.6s forwards arrow-animation-start;
          }

          &.finish {
            animation: 0.6s forwards arrow-animation-finsih;
          }

          & > button {
            padding: 0 !important;
          }

          svg {
            border-radius: 50%;
            color: white;
          }
        }
      }
    }

    &__footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.card-container {
  width: 555px;
  height: 350px;
  padding: 0 5px;
  box-sizing: border-box;

  @media (max-width: 576px) {
    width: 450px !important;
    height: 250px;
  }

  &:first-of-type {
    width: 550px;
    padding-left: 0;
  }

  &__image-container {
    width: 100%;
    border-radius: 5px;

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;

      @media (max-width: 576px) {
        height: 150px;
      }
    }
  }

  &__text {
    font-size: 15px;

    &__header {
      font-size: 18px;
    }

    &__categories {
      color: #696969;

      & > div {
        &::after {
          content: " . ";
        }
      }
    }

    &__footer {
      &__price-duration {
        span {
          &:first-of-type {
            background-color: #f5f5f5;
          }
          &:last-of-type {
            background-color: #d7d7d7;
          }
        }
      }

      &__free-pickup {
        color: $primary-color;
        background-color: #f5f5f5;
        font-size: 14px;
        padding: 2px;
      }
    }
  }
}

.footer-container {
  position: relative;
  background-color: black;
  padding: 50px 12%;
  color: #a5a5a5;

  @media (max-width: 576px) {
    padding: 50px 5%;
  }

  &__header {
    text-align: right;
    border-bottom: 0.5px solid #464646;
    margin: 0 0 20px;
    justify-content: flex-end;

    @media (max-width: 576px) {
      justify-content: center;
    }

    a {
      display: block;
      padding: 20px 10px;
      text-decoration: none;
      box-sizing: border-box;
      border-bottom: 2px solid black;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: $light-blue !important;
        border-bottom: 2px solid $light-blue;
      }
    }
  }

  &__content {
    & > div {
      &:first-of-type {
        width: 62%;
      }

      @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & .menu-list {
      box-sizing: border-box;
      min-width: 200px;
      margin: 20px 0;

      @media (max-width: 576px) {
        text-align: center;
      }

      span {
        padding: 4px 0;
        transition: 0.5s;
        cursor: pointer;

        &:first-of-type {
          color: white !important;
          font-size: 20px;

          &:hover {
            color: white !important;
          }
        }

        &:hover {
          color: $light-blue !important;
        }
      }

      &:last-of-type {
        padding-right: 80px;

        @media (max-width: 576px) {
          padding-right: 0;
        }
      }
    }
  }

  &__footer {
    padding-top: 30px;
    border-top: 0.5px solid #282828;

    &__contact {
      margin-top: 40px;

      a {
        display: block;
        text-decoration: none;
      }

      @media (max-width: 576px) {
        flex-direction: column;
      }

      &__info {
        & > a {
          padding: 0 10px;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            color: $light-blue !important;
          }
        }
      }

      &__icons {
        svg {
          fill: white;
          transition: 0.5s;
          padding: 12px;
          box-sizing: content-box;
          cursor: pointer;

          &:hover {
            fill: $light-blue;
          }
        }
      }
    }
  }
}
// __________________________________________________________Key Frames____________________________________________________________________
@keyframes arrow-animation-start {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(2.5);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(2.1);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes arrow-animation-finsih {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(0);
  }
}
